<?xml version="1.0"?>
<model>
  <name>Standard VTOL</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Jenn Nguyen</name>
   <email>jenn@openrobotics.org</email>
  </author>

  <description>
    This is importing the standard_vtol model from px4
  </description>
</model>
