<?xml version="1.0"?>
<model>
  <name>RC Cessna 182</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Jenn Nguyen</name>
   <email>jenn@openrobotics.org</email>
  </author>

  <description>
    This is importing the rc_cessna model from px4
  </description>
</model>
