<?xml version="1.0"?>
<model>
  <name>standard_vtol_camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Morgan Quigley</name>
    <email>morgan@openrobotics.org</email>
  </author>

  <description>
    standard_vtol with camera
  </description>
</model>
