topics:

# Camera
- queue_size: 1
  topic: /{{veh}}/virtual_camera_node/Image
  type: sensor_msgs/msg/Image

- queue_size: 1
  topic: /{{veh}}/virtual_camera_node/camera_info
  type: sensor_msgs/msg/CameraInfo

# Lidar
- queue_size: 1
  topic: /gazebo/lidar_node_virtual/scan
  type: sensor_msgs/msg/LaserScan